.formtest{
	table{
		cursor: pointer;
		td{
			img{
				max-width: 25px;
			}
		}
	}
}

.loading{
	position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba($gray-300, .7);
}