{% load staticfiles %}
<html>
    <head>
        <title>LG Form Test</title>
        <link rel="stylesheet" href="{% static 'formtest/css/style.min.css' %}">
        <script type="text/javascript" src="{% static 'formtest/js/app.min.js' %}"></script>
    </head>
    <body>
        <div class="container py-5">
            <h1 class="text-center page-header pb-4">{% block heading %}Form Testing Report{% endblock %}
            </h1>
                
            {% block content %}
            {% endblock %}   
        </div>
    </body>
</html>