{% extends 'formtest/layout.html' %}
{% load staticfiles %}


{% block heading %}LG Form Test{% endblock %}


{% block content %}

	<div class="container formtest">
		<div class="app" ng-app="app" ng-controller="appCtrl">
			<div class="btn-group mb-2" role="group">
				<button ng-click="notifyAll()" type="button" class="btn btn-secondary mr-2">Notify All</button>
				<button ng-click="validateAll()" type="button" class="btn btn-secondary mr-2">Validate All</button>
				<button ng-click="resetAll()" type="button" class="btn btn-secondary mr-2">Reset All</button>
			</div>
			<select class="form-control" ng-change="updateFilter(filter.val)" ng-model="filter">
				<option value="all">Show All</option>
				<option value="successful">Successful</option>
				<option value="unsuccessful">Unseccessful</option>
			</select>
			<table class="table">
				<tr>
					<th ng-click="sortBy('website')">Website<span class="caret"></span></th>
					<th ng-click="sortBy('check_pass')">Status<span class="caret"></span></th>
					<th width="250" ng-click="sortBy('creation_time')">Notes<span class="caret"></span></th>
					<th ng-click="sortBy('successful_check')">Last successful check<span class="caret"></span></th>
					<th>Action</th>
				</tr>
				<tr ng-repeat="data in dataList | orderBy: order:reverse" ng-show="dataFilter(data)">
					<td>{[{data['url']}]}</td>
					<td><img ng-if="isChecked(data)" src="{% static 'formtest/images/check.svg' %}"><img ng-if="!isChecked(data)" src="{% static 'formtest/images/cross.svg' %}"></td>
					<td>{[{data['notes']}]}</td>
					<td>{[{data['last_successful_check']}]}</td>
					<td><a class="btn-primary btn" href="javascript:void(0)" ng-click="validateNow(data.url);">Notify</a></td>
				</tr>
			</table>

			<div class="loading" ng-show="loading">
				<img src="{% static 'formtest/images/loading.gif' %}" alt="">
			</div>
		</div>
	</div>

{% endblock %}
	